@model TwoFactorLoginViewModel;

@{
    ViewData["Title"] = "TwoFactorLogin";
}

@section Scripts{

    <script type="text/javascript">

        //ajax sorgu
        $("#sendEmail").click(() => {

            $.ajax({
                type: "GET",
                contentType: "application/json,charset=utf-8",
                url: "./AgainSendEmail",
                dataType: "json",
                success: function (resoponse) {
                    if (resoponse == true) {
                        alert("Dogruluma kodu tekrar email adresinize gonderilmistir");
                    }
                    else {
                        alert("bir hata meydana geldi");
                    }
                },
                error: function () {
                    alert("bir hata meydana geldi");
                }
            })

        });

        $(document).ready(() => {
            var timeLeft = parseInt("@ViewBag.timeLeft");

            function makeTimer() {
                var minutes = Math.floor(timeLeft / 60);
                var second = Math.floor(timeleft - (minutes * 60));

                if (minutes < 10) { minutes = '0' + minutes; }
                if (second < 10) { second + '0'second };

                $("#minutes").html(minutes);
                $("#second").html(second);

                timeLeft--;

                if (timeLeft == 0) { window.location.href = "/home/login"; }
            }
            makeTimer();

            setInterval(() => makeTimer(), 1000);
        });

    </script>
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4>Iki Adimli kimlik dogrulama</h4>
        <hr />

        <form asp-action="TwoFactorLogin" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VerificationCode"></label>
                <input asp-for="VerificationCode" class="form-control" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="checkbox" asp-for="IsRememberMe" /> Beni Hatirla
            </div>

            @if (Model.TwoFactorType == TwoFactor.MicrosoftGoogle)
            {
                <div class="form-group">
                    <input type="checkbox" asp-for="IsRecoverCode" /> Kurtarma Kodu girmek icin bu kutucugu isaretleyiniz
                </div>
            }

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Gonder" />

                @if (Model.TwoFactorType == TwoFactor.Email)
                {
                    <input class="btn btn-primary" type="button" value="Tekrar email gonder" id="sendEmail" />
                }
            </div>
        </form>


        @if (Model.TwoFactorType == TwoFactor.Email || Model.TwoFactorType == TwoFactor.Phone)
        {
            <div class="alert alert-primary">
                <span class="text-primary" id="minutes"></span> dakika
                <span class="text-primary" id="second"></span> kaldi
            </div>
        }

        <div class="alert alert-info">
            @switch (Model.TwoFactorType)
            {
                case TwoFactor.Phone:
                    <span>Telefonunuza gelen sms kodunu bu alana giriniz</span>
                    break;
                case TwoFactor.Email:
                    <span>Email adresinize gelen sms kodunu bu alana giriniz</span>
                    break;
                case TwoFactor.MicrosoftGoogle:
                    <span>Microsoft/Google Authenticator uygulamaniza gelen sms kodunu bu alana giriniz</span>
                    break;
            }
        </div>
    </div>
</div>

