@{
    ViewData["Title"] = "TwoFactorAuth";
}

@model TwoFactorAuthViewModel;

<h2>Iki adimli kimlik Dogrulama</h2>

<div class="row">
    <div class="col-md-12">

        @if (TempData["message"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["message"]
            </div>
        }

        <form asp-action="TwoFactorAuth" method="post">

            <div class="form-group">
                <label asp-for="TwoFactorType"></label>
                <select class="from-control" asp-for="TwoFactorType" asp-items="Html.GetEnumSelectList<TwoFactor>()"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Guncelle" class="btn btn-success" />
            </div>

        </form>
    </div>

    @if (TempData["recoverCodes"] != null)
    {
        <div class="col-md-12">
            <div class="alert alert-info">
                Asagidaki kodlari guvenli bir yerde saklayiniz.Microsoft/Goole Auhenticator uygulamasini kullanmadiginiz durumlarda
                bu kurtarma kodlarini kullana bilirsiniz.
            </div>
        </div>

        <div class="alert alert-secondary">
            @foreach (var item in TempData["recoverCodes"] as string[])
            {
                <strong>@item</strong>
            }
        </div>
    }
</div>
